<header>
  <div
    class="container-fluid"
    style="background-color: var(--customHeaderBgColor, #fecc00)"
  >
    <div class="row align-items-center">
      <div class="col-2">
        <h1>TV Series</h1>
      </div>
      <div class="col-4 text-left">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1196/1196944.png"
          alt="tv"
          width="50"
          height="50"
        />
      </div>
    </div>
  </div>
</header>
<br />

<app-series-list></app-series-list>
